* {
    background-color: rgba(63, 75, 78, 0.726);
    font: rgba(15, 14, 15, 0.431);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 10%;
    padding: 8px 0px 8px 0;
    background: rgba(255,0,255,0.3);
}

nav {
    margin: 5px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    font-weight: bold;
    font-size: medium;
}

.about {
    width: 60%;
    height: fit-content;
    margin: 10px auto 10px auto;
    color: darkgray;
    border: hidden;
    background-image: url("../pictures/CloudImage.jpg");
    overflow: auto;
}

.about img {
   float: left;
}
.imgme {
    width: 250px;
    height: 230px;
    padding: 12px;
    border-top: 5px double black;
    border-right: 5px double black;
    border-bottom: 5px double rgb(102, 101, 101);
    border-left: 5px double rgb(102, 101, 101);
}

.about p {
text-align: center;
margin-top: 40px;
}

.pme {
    color: black;
    font-weight: bolder;
    font-size: large;
    line-height: 1;
    background: transparent;
    border: none;
}

.recent-work {
    width: 70%;
    height: 600px;
    margin: 15px auto 15px auto;
    color: darkgray;
    border: hidden;
    background: rgba(255,0,255,0.3);
    overflow: auto;
}


.recent-work .example {
    width: 25vw;
    height: 25vw;
    margin: 15px 10px 10px 10px;
    border: 3px solid black;
    display: inline;
    justify-content: center;
    flex-wrap: wrap;
}

.runbudimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
} 
a img {
    height: 450px;
    padding: 8px;
    border: 5px double black;
}

.run-buddy-p {
    float: ;
    text-align: center;
}

.future {
    height: 275px;
    padding: 8px;
    border: 5px double black
}

.example img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.contact-me {
    width: 65%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255,0,255,0.3);
    
}

.contact-me ul {
    margin: 15px 10px 15px 10px;
}

.contact-me ul li {
    justify-content: center;
}

footer {
    background-color: rgba(255,0,255,0.3);
    width: 100%;
    height: 30px;
    margin: 15px 0 0 0;
}

footer span {
    text-align: center;
}


