* {
    font: rgba(15, 14, 15, 0.431);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #5c5470; 
}

h1 {
    background: rgba(255,0,255,0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#section-underline {
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: rgb(69, 8, 75);
    text-align: center;
    padding-bottom: 15px;
}

#head3 {
    text-align: center;
}

header {
    width: 100%;
    height: 10%;
    padding: 0 0px 8px 0;
    text-align: center;
    
}

nav {
    background: rgba(255,0,255,0.3);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    font-weight: bold;
    font-size: medium;
    list-style: none;
}

.about {
    width: 60%;
    height: 30%;
    margin: 10px auto 10px auto;
    color: darkgray;
    border: hidden;
    background-image: url("../pictures/CloudImage.jpg");
    overflow: auto;
}


.about img {
   float: left;
}
.imgme {
    width: 250px;
    height: 230px;
    padding: 12px;
    margin: auto auto 10px 30px;
    border-top: 5px double black;
    border-right: 5px double black;
    border-bottom: 5px double rgb(102, 101, 101);
    border-left: 5px double rgb(102, 101, 101);
}

.about p {
text-align: center;
margin-top: 40px;
}

.pme {
    color: black;
    font-weight: bolder;
    font-size: large;
    line-height: 1;
    background: transparent;
    border: none;
}

.recent-work {
    width: 70%;
    height: 65%;
    margin: 15px auto 15px auto;
    border: 12px double;
    background: rgba(255,0,255,0.3);
    overflow: auto;
}

.runbudimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
} 
a img {
    height: 450px;
    padding: 8px;
    border: 5px double black;
}

.work-p {
    text-align: center;
    margin-bottom: 15px;
}

.future {
    height: 275px;
    padding: 8px;
    border: 5px double black
}

.example img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 35%;
}

.contact-me {
    width: 65%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255,0,255,0.3);
    
}

.contact-me ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.contact-me ul li {
    align-items: center;
    list-style: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: rgba(255,0,255,0.3);
    width: 30%;
    height: 10%;
    padding: 0 0px 8px 0;
    margin: 20px auto 0 auto;
    text-align: center;
}

footer span {
    text-align: center;
}


