* {
    background-color: rgba(43, 46, 43, 0.767);
    font: rgba(15, 14, 15, 0.431);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 10%;
    padding: 8px 0px 8px 0;
}

nav {
    margin: 5px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    font-weight: bold;
    font-size: medium;
}

.about {
    width: 550px;
    height: 250px;
    margin: 10px auto 10px auto;
    color: darkgray;
    border: hidden;
    background: cyan;
    overflow: auto;
}

.recent-work {
    width: fit-content;
    height: fit-content;
    margin: 15px auto 15px auto;
    color: darkgray;
    border: hidden;
    background: transparent purple;
    overflow: auto;
}

.recent-work .run-buddy {
    width: 25vw;
    height: 25vw;
    margin: 15px 10px 10px 10px;
    border: 3px solid black;
    display: inline-block;
    flex-wrap: wrap;
}

.contact-me {
    width: 65%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(purple black white);
    
}

.contact-me ul {
    display: inline-block;
    margin: 15px 10px 15px 10px;
}

.contact-me ul li {
    display: inline;
    justify-content: center;
}

footer {
    width: 100%;
    height: 25px;
    margin: 15px 0 0 0;
}


